h1{
    text-align: center;
    font-size: 20px;
}

body{
    background-color: beige;
}

img{
    width: 200px;
    height: 250px;
    
}

.main-content{
    display: flex;
    flex-direction: column;
}

#change-me{
    width: 70px;
    margin-top: 25px;
}

.footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
}

.work form{
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    display: flex;
    gap: 0.3rem;
    box-shadow: 0 4px 12px black;
    border-radius: 10px;
    padding: 2rem;
}

.work{
    justify-self: center;
    width: 90%;
}